{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order",
    "stylelint-config-html"
  ],
  "rules": { "media-feature-range-notation": "prefix" }
}
