html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  padding: 12px;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

/* Toolbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 4.3%;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
}

.logo:hover {
  text-decoration: underline;
}

/* Headline // about me */

.headline {
  background-image: url("images/bg-generalinfo.png");
  background-repeat: no-repeat;
  padding: 120px 4.3%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headline-title,
.about-title {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
}

.headline-info,
.about-info {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
}

.headline-connect,
.about-connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.headline-external,
.about-external {
  display: flex;
  align-items: center;
}

.headline-external a,
.about-external a {
  display: flex;
}

.headline-external li,
.about-external li {
  margin-right: 20px;
}

.about-external-pos {
  padding-left: 9px;
}

.headline-external a:hover,
.about-external a:hover {
  background-color: rgb(96, 112, 255);
}

/*Works*/

.works {
  display: grid;
}

.work-card {
  margin: 4.3%;
  border: 1px solid #dfe1e6;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 85px;
}

.work-cont {
  margin: 4.3%;
}

.work-cont img {
  width: 100%;
}

.work-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-general {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.work-client {
  color: #344563;
}

.work-client-disc {
  color: #7a869a;
}

.work-client-disc::before {
  content: "·";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 10px;
}

.work-info p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-tags {
  display: flex;
  gap: 12px;
}

.work-tags li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works button {
  margin-top: 10px;
}

/* About */

.about {
  padding: 0px 4.3%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about button {
  margin-top: 20px;
  align-self: flex-start;
}

.about-skills {
  padding: 0 4.3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
}

.about-frame,
.about-personal {
  border-bottom: 1px solid #dfe1e6;
  padding: 10px 0;
}
.language-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.language-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px;
}
