:root {
  --background: #fff;
  --foreground: #000;
}

.dark {
  --background: #000;
  --foreground: #fff;
}

html {
  font-family: Inter, system-ui, sans-serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

code {
  font-family: Inter, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.hidden {
  display: none;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}
