:root {
  --accents-1: hsl(0, 0%, 95%);
  --accents-2: hsl(0, 0%, 90%);
  --accents-3: hsl(0, 0%, 70%);
  --accents-4: hsl(0, 0%, 58%);
  --accents-5: hsl(0, 0%, 40%);
  --accents-6: hsl(0, 0%, 27%);
  --accents-7: hsl(0, 0%, 13%);
  --accents-8: hsl(0, 0%, 7%);
  --primary: hsl(109, 41%, 32%);
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);
  --gray-alpha-400: rgba(0, 0, 0, 0.08);
  --header-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
  --footer-box-shadow: inset 0 0 0 -1px rgb(0 0 0 / 10%);
}

.dark {
  --accents-8: hsl(0, 0%, 92%);
  --accents-7: hsl(0, 0%, 85%);
  --accents-6: hsl(0, 0%, 60%);
  --accents-5: hsl(0, 0%, 53%);
  --accents-4: hsl(0, 0%, 40%);
  --accents-3: hsl(0, 0%, 27%);
  --accents-2: hsl(0, 0%, 20%);
  --accents-1: hsl(0, 0%, 7%);
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 100%);
  --gray-alpha-400: rgba(255, 255, 255, 0.14);
  --header-box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  --footer-box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 10%);
}

html {
  font-family: Inter, system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

code {
  font-family: Inter, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.hidden {
  display: none;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;

  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

.list {
  padding: 0;
  list-style: none;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.75rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  gap: 0.4rem;

  &--primary {
    color: var(--background);
    background-color: var(--foreground);
    transition: 150ms ease;
    &:hover {
      background-color: var(--muted-foreground);
    }
  }

  &--secondary {
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid var(--muted-foreground);
    transition: 150ms ease;
    &:hover {
      background-color: var(--muted);
    }
  }
}
