:root {
  --background: #fff;
  --foreground: #000;
  --muted: #eee;
  --muted-foreground: #777;
  --header-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
  --border: #eaeaea;
}

.dark {
  --background: #000;
  --foreground: #fff;
  --muted: #111;
  --muted-foreground: #999;
  --header-box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  --border: #333;
}

html {
  font-family: Inter, system-ui, sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

code {
  font-family: Inter, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.hidden {
  display: none;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;

  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

.list {
  padding: 0;
  list-style: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.75rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  gap: 0.4rem;

  &--primary {
    color: var(--background);
    background-color: var(--foreground);
    transition: 150ms ease;
    &:hover {
      background-color: var(--muted-foreground);
    }
  }

  &--secondary {
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid var(--muted-foreground);
    transition: 150ms ease;
    &:hover {
      background-color: var(--muted);
    }
  }
}
