:root {
  --background: #fff;
  --foreground: #000;
  --muted: #eee;
  --muted-foreground: #777;
  --header-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
  --border: #ddd;
}

.dark {
  --background: #000;
  --foreground: #fff;
  --muted: #111;
  --muted-foreground: #999;
  --header-box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  --border: #111;
}

html {
  font-family: Inter, system-ui, sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  color: var(--foreground);
  background-color: var(--background);
}

code {
  font-family: Inter, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.hidden {
  display: none;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.list {
  padding: 0;
  list-style: none;
}
