:root {
  --accents-1: hsl(0deg 0% 98%);
  --accents-2: hsl(0deg 0% 92%);
  --accents-3: hsl(0deg 0% 63%);
  --accents-4: hsl(0deg 0% 56%);
  --accents-5: hsl(0deg 0% 40%);
  --accents-6: hsl(0deg 0% 27%);
  --accents-7: hsl(0deg 0% 16%);
  --accents-8: hsl(0deg 0% 7%);
  --primary: hsl(109deg 41% 32%);
  --background: hsl(0deg 0% 100%);
  --foreground: hsl(0deg 0% 0%);
  --gray-alpha-400: rgb(0 0 0 / 8%);
  --header-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
  --footer-box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 10%);
  --shadow-sm: 0 3px 8px rgb(0 0 0 / 12%);
  --shadow-md: 0 3px 25px rgb(0 0 0 / 10%);
  --form-shadow: var(--shadow-md);
  --project-shadow: var(--shadow-md);
  --project-tech-shadow: var(--shadow-sm);
}

.dark {
  --accents-8: hsl(0deg 0% 95%);
  --accents-7: hsl(0deg 0% 90%);
  --accents-6: hsl(0deg 0% 60%);
  --accents-5: hsl(0deg 0% 53%);
  --accents-4: hsl(0deg 0% 40%);
  --accents-3: hsl(0deg 0% 27%);
  --accents-2: hsl(0deg 0% 20%);
  --accents-1: hsl(0deg 0% 3.5%);
  --background: hsl(0deg 0% 0%);
  --foreground: hsl(0deg 0% 100%);
  --gray-alpha-400: rgb(255 255 255 / 14%);
  --header-box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  --footer-box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 10%);
  --form-shadow: none;
  --project-shadow: none;
  --project-tech-shadow: none;
}

html {
  font-family: Inter, system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

code {
  font-family: Inter, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.hidden {
  display: none;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;

  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

.list {
  padding: 0;
  list-style: none;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding-inline: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  gap: 0.4rem;

  &--icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
  }

  &--primary {
    color: var(--accents-1);
    background-color: var(--accents-8);
    transition: 150ms ease;
    &:hover {
      background-color: var(--accents-7);
    }
  }

  &--secondary {
    color: var(--foreground);
    background-color: inherit;
    transition: 150ms ease;

    &:hover {
      background-color: var(--accents-1);
    }
  }

  &--outline {
    border: 1px solid var(--accents-3);
  }
}

.section {
  padding-block-start: 1rem;
  padding-block-end: 4rem;
  scroll-margin-top: 5rem;

  &__title {
    text-wrap: balance;
    font-size: 2.75rem;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: var(--accents-8);
    line-height: 1.1;
    text-align: center;
  }

  &__description-wrapper {
    text-wrap: balance;
    margin-inline: auto;
  }

  &__description {
    color: var(--accents-5);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
