---
import Layout from "layouts/Layout.astro";
import Header from "components/Header/index.astro";
import Hero from "components/Hero.astro";
import Projects from "components/Projects/index.astro";
import About from "components/About.astro";
import Contact from "components/Contact/index.astro";
import Footer from "components/Footer.astro";
---

<Layout title="Orlando's portfolio">
  <Header />
  <main id="skip-nav">
    <Hero />
    <Projects />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
