---
import Layout from "layouts/Layout.astro";
import Header from "components/Header/index.astro";
import Hero from "components/Hero.astro";
---

<Layout title="Orlando's portfolio">
  <Header />
  <main>
    <Hero />
  </main>
</Layout>
