---
import Layout from "layouts/Layout.astro";
import Header from "components/Header/index.astro";
import Hero from "components/Hero.astro";
import Projects from "components/Projects/index.astro";
---

<Layout title="Orlando's portfolio">
  <Header />
  <main>
    <Hero />
    <Projects />
  </main>
</Layout>
