---
import { Icon } from "astro-icon";
import ContactForm from "./ContactForm.astro";
---

<div class="section__divider">
  <section class="container section" id="contact">
    <h2 class="section__title">Contact</h2>
    <p class="section__description">
      I'm always interested in hearing about new projects, so if you'd like to
      chat please get in touch.
    </p>
    <ContactForm />
    <div class="contact__email">
      <a
        href="mailto:orlandodiazconde@gmail.com"
        aria-label="Orlando's email"
        class="contact__email-link"
      >
        <span class="icon-wrapper--large"
          ><Icon name="lucide:mail" class="icon-lg" /></span
        >
      </a>
      <span>orlandodiazconde@gmail.com</span>
    </div>
  </section>
</div>

<style lang="scss">
  .contact {
    &__email {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__email-link {
      display: flex;
      font-size: 15px;
      color: var(--foreground);
    }
  }
</style>
