---
import { Icon } from "astro-icon";
---

<div class="hero__wrapper">
  <div class="hero__gradient"></div>
  <section class="hero container">
    <h1 class="hero__title">Hey There! <br /> I'm Orlando Diaz</h1>
    <h2 class="hero__subtitle">Front-End Developer</h2>
    <p class="section__description">
      I can assist you in creating a product, feature, or website. Take a look
      at my past work and experience. If you like what you see and have a coding
      project, don't hesitate to contact me.
    </p>
    <div class="hero__buttons">
      <div class="hero__button-container">
        <a
          href="https://www.linkedin.com/in/orlando-diaz-conde/"
          target="_blank"
          class="button button--primary"
        >
          <span class="icon-wrapper--small"
            ><Icon name="lucide:linkedin" /></span
          >
          <span>Connect</span>
        </a>
      </div>
      <div class="hero__button-container">
        <a
          href="https://github.com/orlandodiazc"
          target="_blank"
          class="button button--transparent button--outline"
          aria-label="Github"
        >
          <span class="icon-wrapper--small"><Icon name="lucide:github" /></span>
          <span>Github</span>
        </a>
      </div>
      <div class="hero__button-container">
        <a
          href="mailto:orlandodiazconde@gmail.com"
          target="_blank"
          class="button button--transparent button--outline"
          aria-label="Orlando's email"
        >
          <span class="icon-wrapper--small"><Icon name="lucide:mail" /></span>
          <span>Resume</span>
        </a>
      </div>
    </div>
  </section>
</div>

<style lang="scss">
  @use "styles/screen";

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 4rem);
    padding-block: 3rem;
    text-align: center;

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__gradient {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: var(--hero-gradient);
      transform: scaleX(1.5) scaleY(2.5);

      @media (min-width: screen.$sm) {
        transform: scaleX(2.5) scaleY(1.75);
      }

      @media (min-width: screen.$md) {
        transform: scaleX(2) scaleY(1.75);
      }

      @media (min-width: screen.$lg) {
        transform: scaleX(2.2) scaleY(1.3);
      }
    }

    &__title {
      margin-bottom: 1.25rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.05;
      color: var(--accents-8);
      letter-spacing: -0.04em;
    }

    &__subtitle {
      margin-bottom: 1.75rem;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1;
      color: var(--primary);
      letter-spacing: -0.04em;
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      align-items: center;
      justify-content: center;
      width: 100%;

      a {
        text-decoration: none;
      }
    }

    &__button-container {
      padding-block: 0.5rem;
    }

    @media (min-width: screen.$md) {
      &__title {
        font-size: 5rem;
      }

      &__subtitle {
        margin-bottom: 2.2rem;
        font-size: 2.5rem;
      }
    }
  }
</style>
